{% extends 'base.html' %}

{% load static %}

{% block title %}{{ recipe.name }} | Recipe Book{% endblock %}

{% block page_heading %}Recipe Details of...{% endblock %}

{% block content %}
    <h2>{{ recipe.name }}</h2>

    {% if request.user.is_authenticated %}
        <p>Recipe by {{ recipe.author }}</p>
    {% else %}
        <p><i>Log in to view the author of this recipe.</i></p>
    {% endif %}

    Created last {{ recipe.created_on }} |
    Modified last {{ recipe.modified_on }}
    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>
            {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}