{% extends 'base.html' %}

{% load static %}

{% block title %}{{ recipe.name }} | Recipe Book{% endblock %}

{% block page_heading %}Recipe Details of...{% endblock %}

{% block content %}
    <h2>{{ recipe.name }}</h2>
    
    {% if request.user.is_authenticated %}
        <p>Recipe by {{ recipe.author }}</p>
        <p><a href="{{ recipe.get_absolute_url }}/add_image">Add an image...</a></p>
    {% else %}
        <p><i>Log in to view the author of this recipe.</i></p>
    {% endif %}

    Created last {{ recipe.created_on }} |
    Modified last {{ recipe.modified_on }}

    {% if recipe.image.all %}
        {% for image in recipe.image.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
    {% else %}
        <p>No images linked, must be a bug.</p>
    {% endif %}

    <ul>
        {% for ingredient in recipe.ingredients.all %}
        <li>
            {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}